.header {
  background: var(--clr-white);
  position: relative;
  z-index: 1;

  .container {
    @media (min-width: 768px) {
      & {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.center {
  justify-content: space-between;
  height: 5rem;
}

.name {
  color: var(--clr-secondary);
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--clr-secondary);
  transition: color 0.25s ease;

  @media (hover: hover) {
    &:hover {
      color: var(--clr-dark);
    }
  }

  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.nav {
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease;
  background: var(--clr-white);
  border-radius: 4px;
  @media (min-width: 768px) {
    height: auto !important;
    background: transparent;
    border-radius: 0;
  }
}

.nav-list {
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding: 1rem 0 1rem;
  li {
    transition: transform 0.25s linear;
  }
  a {
    font-size: 1.3rem;
    color: var(--clr-dark);
    transition: color 0.25s linear;
  }
  @media (hover: hover) {
    li:hover {
      transform: translateX(-5px);
    }
  }

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      gap: 2.1rem;
      padding: 0;
      align-items: flex-start;
    }

    li:hover {
      transform: none;
    }

    a:hover {
      color: var(--clr-secondary);
    }
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
