#skills {
  display: grid;
  place-content: center;

  .icon {
    height: 2.5rem;
  }

  .skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (min-width: 786px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .skills__list > * {
    text-align: center;

    color: var(--clr-dark);
  }
}
